<div class="userListContainer">
  <div class="form-container">
    <label for="name">Search</label>
    <input class="searchInput" type="text" id="search" aria-describedby="name" placeholder="Busqueda">
  </div>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>LastName</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {{#each userList}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
        <td><a href="/user/form/{{this.id}}"><button class="edit" id="put">Editar</button></a></td>
        <td><button class="delete" data-id="{{this.id}}" id="borrar">Borrar</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a class="newUserLink" href="/user/form"><button class="newUserButton">Crear Nuevo Usuario</button></a>
</div>